<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Yakirolls</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      {% comment %} nav list {% endcomment %}
      <ul class="navbar-nav me-auto">
        {% for link in linklists['main-menu'].links %}
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
            <li class="nav-item">
              <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
            [
            {%- for childlink in linklists[child_list_handle].links %}
              <li class="nav-item">
                <a class="nav-link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
              </li>
            {% endfor -%}
            ]
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart</a>
        </li>
      </ul>

      {% comment %} customer login {% endcomment %}
      <ul class="navbar-nav">
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li class="nav-item">
              <a class="nav-link" href="{{ routes.account_url }}">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ routes.account_logout_url }}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ routes.account_login_url }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ routes.account_register_url }}">Register</a>
            </li>
          {% endif %}
        {% endif %}
        <li class="nav-item"></li>
      </ul>

      {% comment %} search {% endcomment %}
      <form action="/search" method="GET" role="search">
        <input type="text" name="q" value="{{ search.terms | escape }}" placeholder="search">
      </form>
    </div>
  </div>
</nav>


{% style %}
  form input {
    border-radius: 5px;
    outline: none;
  }
{% endstyle %}